<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheResult="false">
    <testsuites>
        <testsuite name="All Tests Suite">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Unitary Tests Suite">
            <directory>./tests/Unit/</directory>
        </testsuite>
        <testsuite name="Functional Tests Suite">
            <directory>./tests/Functional/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WEBDAV_SERVER" value="http://user:pass@localhost:80/" force="true" />
    </php>
</phpunit>